node_modules
# Keep environment variables out of version control
.env
.env*.local

/generated/prisma

# Next.js
/.next/
/out/

# Testing & build artifacts
/coverage
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
